.jumbotron {
    background-image: url("../img/pizzabckg.png");
    width: 100%;
    margin: 0;
}

.opaque-bg {
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 100%;

}
body {
    background-color: #fcf8f8;
    font-family: Monaco, serif;
}
h2 {
    margin: 25px;
}
h1 {
    width: 100%
}
.card {
    background-color: #f4f4f4;
}

.card-header {
    background-color: #000000;
}