* {
    box-sizing: border-box;
}
#container {

}

.jumbotron {
    background-image: url("../img/pizzabckg.png");
    width: 100%;
}

nav {
    background-color: #000000;
}

.opaque-bg {
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 100%;
    padding: 0;
}
.navbar-toggler-icon {
    background: white;
}
body {
    font-family: Monaco, serif;
    background: #370808;
}

h2 {
    color: #ffffff;
    margin: 25px;
}


.card {
    background-color: whitesmoke;
}

.card-header {
    background-color: #000000;
}

.btn-primary {
    margin: 10px;
    background-color: #3d4448;
}