body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    padding: 4px;
    margin: 5px;
    text-align: left;
    border: 2px solid #d6d6d6;
    border-radius: 10px;

}
.message-info {
    background: #c3d3f2;
    color: #3c3490;
    padding-top: 5px;
    padding-bottom: 5px;


}

.message-success {
    background: #c4e7cf;
    color: #126330;
    padding-top: 5px;
    padding-bottom: 5px;
}

.message-warning {
    background: #efeebf;
    color: #9d8e3d;
    padding-top: 5px;
    padding-bottom: 5px;

}

.message-error {
    background: #edc8cb;
    color: #8c3446;
    padding-top: 5px;
    padding-bottom: 5px;
}