body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    padding: 2px;
    margin: 5px;
    text-align: left;
    border: 2px solid #d6d6d6;

}
.message-info {
    background: #c3d3f2;
    color: #111112;


}

.message-success {
    background: #c4e7cf;
}

.message-warning {
    background: #efeebf;

}

.message-error {
    background: #edc8cb;
}