@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.card {
    border: 1px solid #20d4f3;
    background-image: linear-gradient(#2594b0, #95daff);
    padding: 10px;
    border-radius: 5%;

}