@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

body {
    background-color: #8a95bf;
}

* {
    font-family: 'Ubuntu', sans-serif;
}
#btn {
    color: whitesmoke;
}
hr {
    border-bottom: 1px solid #f5eded;
    margin: 2px;
}
#btn, #user-input {
    background-color: #e3f2fd;
    border: 1px solid #4d9cae;
}
.card {
    border: 1px solid #4d9cae;
    background-image: linear-gradient(#a3daff, #2b9eba);
    padding: 10px;
    border-radius: 5%;
    width: 70%;
    margin: 5px 5px 20px 5px;
    box-shadow: 3px 5px #222121;
}

.icon-info {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;

}

i {
    margin-left: 10px;
    margin-right: 5px;
}
.followUs {
    font-size: 10px;
    padding-top: 5px;

}
.icon-info {
    padding-right: 10px;
}

